@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<br>
<div class="jumbotron">
    <p>This is a recipes book where you can view/add/edit/delete recipes/recipe types/ingredients/cooks/contact info, depending on what type of account you have : user, cook, admin.</p>
    <br>
    <p>-> If you are an user, you can view and add anything.</p>
    <p>-> If you are a cook, you can view, add and edit everything.</p>
    <p>-> If you are an admin, you can do anything.</p>
    <br>
    <p>Here are some rules you can follow when you use the app:</p>
    <p>-> When you create a new cook, you also create a new contact info.</p>
    <p>-> When you create a new recipe book make sure that the recipe type and ingredients you want to use are created. If not, add them and then create your recipe.</p>
    <p>-> If you delete a recype type or a cook, the coresponding recipes will be deleted too.</p>
    <p>-> If you delete a cook, the coresponding contact info gets deleted and vice versa.</p>
</div>


